<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <footer class="bg-dark text-light py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Gerenciador de Tarefas</h5>
                    <p>Sistema desenvolvido em Java Spring Boot para gerenciamento de atividades.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="mb-0">
                        <i class="fas fa-code me-1"></i>
                        Desenvolvido por brenin.png
                    </p>
                </div>
            </div>
        </div>
    </footer>
</th:block>

</html>